


<ul class="social_links">
	<li class="social_links__item">
		<a class="social_link" href="//twitter.com" target="_blank"><img src="{{ 'i_twitter.svg' | asset_url }}" alt="" /></a>
	</li>

	<li class="social_links__item">
		<a class="social_link" href="//www.instagram.com/" target="_blank"><img src="{{ 'i_inst.svg' | asset_url }}" alt="" /></a>
	</li>

	<li class="social_links__item">
		<a class="social_link" href="//www.facebook.com/" target="_blank"><img src="{{ 'i_fb.svg' | asset_url }}" alt="" /></a>
	</li>
</ul>


