<h2>Read our blog<h2>
    <div class="blog">
    <div class="first_item">
        <img src="" alt="">
        <h3>4 reasons why cannabis is the key</h3>
     </div>
     <div class="middle_items_wrap">
        <div class="middle_item second_item">
            <img src="" alt="">
            <div class="text_block">
                <div class="date">12.09.2021</div>
                <h3>Enhance Your Fitness Regimen</h3>
                <p>This article is focused on how the components of cannabis will make an excellent addition to fitness routines...</p>
                <a href="#">View</a>
            </div>
        </div>
        <div class="middle_item third_item">
            <img src="" alt="">
            <div class="text_block">
                <div class="date">12.09.2021</div>
                <h3>Enhance Your Fitness Regimen</h3>
                <p>This article is focused on how the components of cannabis will make an excellent addition to fitness routines...</p>
                <a href="#">View</a>
            </div>
        </div>
     </div>
     <div class="thourth_item">
        <img src="" alt="">
        <h3>How To Hide Cannabis Smell</h3>
     </div>

    
    
    <div>
    
    
    {% schema %}
{
	"name": {
		"en": "blog2"
	},
	"class": "home_info",
	"settings": [
		{
			"type": "richtext",
			"id": "text_1",
			"label": {
				"en": "Text 1"
			},
			"default": {
				"en": "<p>Text 1</p>"
			}
		},
		{
			"type": "richtext",
			"id": "text_2",
			"label": {
				"en": "Text 2"
			},
			"default": {
				"en": "<p>Text 2</p>"
			}
		},
		{
			"type": "richtext",
			"id": "text_3",
			"label": {
				"en": "Text 3"
			},
			"default": {
				"en": "<p>Text 3</p>"
			}
		},
		{
			"type": "richtext",
			"id": "text_4",
			"label": {
				"en": "Text 4"
			},
			"default": {
				"en": "<p>Text 4</p>"
			}
		}
	],
	"presets": [
		{
			"name": {
				"en": "Home info"
			}
		}
	]
}
{% endschema %}
