


<div class="hero_img">
	<div class="hero_img__logo"></div>

	<div class="hero_img__bg" style="background-image: {{ section.settings.hero_img | img_url: '300x300' }}"></div>
</div>



{% schema %}
	{
		"name": "HeroImageBg",
		"settings": [
			{
				"type": "image_picker",
				"id": "hero_img",
				"label": "Hero image bg"
			}
		]
	}
{% endschema %}


