


.article {
	background-color: $c_blog_bg;
	color: $c_main;
	display: flex;
	flex-wrap: wrap;
	font-family: $font_josefin;
	line-height: 1.1;
	text-align: center;

	&__date {
		color: $c_main;
		font-family: $font_josefin;
		font-size: 15px;
		font-weight: 200;
	}

	&__img {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__title {
		font-family: $font_josefin;
		font-size: 33px;
		margin: 2em 0 1em;
	}

	&__title {
		color: $c_main;
		font-family: $font_josefin;
		font-size: 33px;
		margin-bottom: 11px;
		padding: 57px 0 25px 0;
		text-transform: uppercase;
	}

	.social-sharing {
		justify-content: center;
		display: flex;

		a {
			border: none;
		}

		.btn--share {
			.icon-twitter {
				fill:  $c_main;
			}

			.icon-pinterest {
				fill: $c_main;
			}

			.icon-facebook {
				fill: $c_main;
			}
		}

		.share-title {

			display: none;
		}
	}
}

.article_content {
	img {

		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		display: block;
	}
}

.article-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
}

.article_header {
	align-items: center;
	background-color: $c_blog_bg;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: calc(100vh - 86px);
	padding: 270px 15% 220px;
	text-align: center;
}

.article_single {
	margin: -55px 0 0;
}

.article_tags {
	color: $c_main;
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
	justify-content: center;
	line-height: 1.1;
	margin: 0 auto;
	padding-bottom: 73px;
	text-transform: uppercase;
	width: 70%;

	&__item {
		display: inline;
		margin: 0 2em 1em 0;
		position: relative;
		text-transform: uppercase;
		white-space: nowrap;

		&::before {
			content: "#";
			display: inline-block;
			margin: 0 -4px 0 0;
		}
	}
}


