


h2 {
	font-size: 18px;
}



.site-footer {
	input {
		border-radius: 6px;
	}

	&__newsletter {
		.input-group {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 auto 110px;
			width: 40%;
		}
	}

	.input-group {
		&__btn {
			.newsletter__submit {
				background: rgb(39, 44, 62);
				border-radius: 6px;
				font-family: "Josefin Sans",Helvetica,Arial,sans-serif;
				margin-left: 6px;
			}
		}
	}
}

.site_nav {
	display: flex;
	margin: 0;

	&__item {
		margin: 0 48px;

		&.active {
			.header_menu_list {
				&__link {
					&::after {
						width: 100%;
					}
				}
			}
		}

		@media #{$tablet} {
			margin: 10px 48px;
		}
	}

	&__link {
		color: #fff;
		display: block;
		position: relative;
		text-decoration: none;

		&::after {
			background-color: #fff;
			bottom: -4px;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			transition: $transition;
			width: 0;
		}

		&:focus,
		&:hover {
			color: #fff;

			&::after {
				width: 100%;
			}
		}
	}

	@media #{$tablet} {
		align-items: end;
		background-color: #000;
		display: none;
		flex-direction: column;
		margin-top: 42px;
		padding: 40px 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 4;
	}
}

.social_link {
	display: block;
	transition: $transition;
	width: 15px;

	&:hover {
		opacity: .7;
	}

	img {
		width: 100%;
	}
}

.social_links {
	display: flex;

	&__item {
		margin: 0 0 0 38px;

		&:first-child {
			margin: 0;
		}
	}
}



.wrap {
	margin: 0 auto;
	max-width: 926px;
	padding: 0 30px;
	width: 100%;
}

.wrap2 {
	margin: 0 auto;
	max-width: 1020px;
	padding: 0 30px;
	width: 100%;
}

.wrap3 {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 30px;
	width: 100%;
}


