


body {
	overflow-x: hidden;
}

footer {
	.input-group {
		margin: 0 auto;
		width: 64%;

		input {
			border-radius: 6px;
		}
	}

	@media #{$tablet} {
		.site_nav {
			flex-direction: column;
		}

		.input-group input {
			border-radius: 6px;
			flex-basis: auto;
		}

		.input-group {
			flex-direction: column;
			width: 100%;
		}
	}
}

h1 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.1;
	margin: 0 0 42px;
	text-align: center;

	@media #{$tablet} {
		font-size: 25px;
	}
}

h2 {
	font-size: 18px;
}

html {
	overflow-x: hidden;
}



.article {
	&__date {
		color: $c_main;
		font-family: $font_josefin;
		font-size: 15px;
	}

	&__img {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__title {
		color: $c_main;
		font-family: $font_josefin;
		font-size: 33px;
		margin-bottom: 11px;
		padding: 57px 0 25px 0;
		text-transform: uppercase;
	}

	.social-sharing {
		justify-content: center;
		display: flex;

		a {
			border: none;
		}

		.btn--share {
			.icon-twitter {
				fill:  $c_main;
			}

			.icon-pinterest {
				fill: $c_main;
			}

			.icon-facebook {
				fill: $c_main;
			}
		}

		.share-title {

			display: none;
		}
	}
}

.article_content {
	img {

		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		display: block;
	}
}

.author_quote {
	color: #272c3e;
	font-family: $font_josefin;
	font-size: 20px;
	font-style: normal;
	font-weight: 100;
	letter-spacing: 0;
	line-height: 21px;
	padding-top: 46px;
	text-align: center;
	text-transform: uppercase
}

.blog {
	background: $c_blog_bg;
	display: flex;

	a {
		background: $c_main;
		display: block;
		font-family: $font_josefin;
		font-weight: 100;
		padding: 15px 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	h3 {
		color: #000;
		font-family: $font_josefin;
		font-size: 21px;
		text-align: center;
		text-transform: unset;
	}

	p {
		color: #000;
		font-family: $font_josefin;
		font-weight: 100;
		text-align: center;
		text-transform: initial;
	}

	.date {
		color: #000;
		text-align: center;
		font-family: $font_josefin;
		text-transform: uppercase;
		font-weight: 100;
	}
}

.blog_title {
	background-color: #E0D8D3;
	color: #000;
	font-family: $font_josefin;
}

.breadcrumbs {
	display: block;
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
	width: 100%;
}

.breadcrumbs_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__item {
		&::after {
			content: "/";
			display: inline-block;
			margin: 0 .5em;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}
}

.btn,
.btn:visited {
	cursor: pointer;
	display: inline-block;
	transition: $transition;
}

.btn_close,
.btn_close:visited {
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 19px;
	font-weight: 100;
	line-height: 1.1;
	transition: $transition;

	span {
		background-color: $c_main;
		display: inline-block;
		height: 37px;
		margin: 0 8px 0 0;
		position: relative;
		vertical-align: middle;
		width: 37px;

		&::after,
		&::before {
			background-color: #fff;
			content: "";
			height: 1px;
			left: 11px;
			position: absolute;
			top: 17px;
			width: 15px;
		}

		&::after {
			transform: rotate(45deg);
		}

		&::before {
			transform: rotate(-45deg);
		}
	}
}

.copiright {
	font-size: 18px;
	font-weight: 100;
	margin: 0 auto;
	max-width: 570px;
}

.email_p {
	background: url(i_email.svg) 9px 8px no-repeat scroll transparent;
	display: inline;
	font-size: 18px;
	padding: 10px 40px;
}

.faq {
	font-family: $font_josefin;
	padding: 0 0 116px;

	h3 {
		font-family: $font_josefin;
		margin: 2em 0 0;
	}

	&__desc {
		display: none;
		padding: 0 0 0 100px;

		&.active {
			display: block;
		}

		&:last-child {
			border-bottom: 1px solid #000;
		}

		@media #{$mobile} {
			padding: 0;
		}
	}

	&__title {
		border-top: 1px solid #000;
		color: #000;
		cursor: pointer;
		display: block;
		font-family: $font_josefin;
		font-weight: 400;
		margin: 0;
		min-height: 70px;
		padding: 27px 0 0 100px;
		position: relative;
		text-transform: uppercase;

		&::before {
			align-items: center;
			background-color: rgba($c_main, .5);
			color: #000;
			content: "+";
			display: flex;
			font-size: 60px;
			font-weight: 100;
			height: 70px;
			justify-content: center;
			left: 0;
			position: absolute;
			top: 0;
			width: 70px;
		}

		&.active {
			font-weight: 700;

			&::before {
				background-color: $c_main;
				color: #fff;
				content: "-";
			}
		}
	}

	.btn_close,
	.btn_close:visited {
		margin: 30px 0 45px;
	}
}

.first_item {
	width: 33.3333%;
}

.input-group {
	border-radius: 6px;
}

.input-group-quote {
	margin: 0 auto 110px auto;
}

.ira_bradcrumbs {
	p {
		display: inline;
		font-family: $font_josefin;
		font-size: 10px;
		font-weight: 400;
	}
}

.middle_items_wrap {
	display: flex;
	width: 33.3333%;
}

.mobile_content {
	display: none;

	p {
		color:#fff;
	}

	.header_social {
		display: block;
	}

	@media #{$tablet} {
		display: block;

		button {
			[type='email'] {
				border-radius: 6px;
			}
		}

		form {
			padding: 0 15px;
		}

		p {
			color: #fff;
		}

		.copiright {
			font-size: 18px;
			font-weight: 100;
			margin: 0 auto;
			padding-bottom: 57px;
			padding-top: 14px;
			text-align: center;
			text-transform: initial;
			width: 87%;
		}

		.email_p {
			display: inline;
			font-weight: 400;
			padding: 10px 40px;
			text-align: center;
			text-transform: initial;
		}

		.email {

			display: flex;
			justify-content: center;
		}

		.footer_desc {
			p {
				font-size: 18px;
				font-weight: 100;
				margin: 5px auto 25px auto;
				text-align: center;
				text-transform: initial;
				width: 100%;
			}
		}

		.footer_title {
			p {
				font-size: 18px;
				font-weight: 600;
				margin-top: 60px;
				text-align: center;
				text-transform: capitalize;
			}
		}

		.header_social {
			display: block;
		}

		.input-group {
			&__field {
				border-radius: 6px;
			}
		}

		.newsletter {
			&__submit {
				background: #e09a8e;
				border-radius: 6px;
				font-family: $font_josefin;
			}
		}

		.social_link {
			width: 27px;
		}

		.social_links {
			justify-content: center;
			margin-top: 30px;

			&__item {
				margin: 0 0 0 60px;

				&:first-child {
					margin: 0;
				}
			}
		}
	}
}

.newsletter {
	&__submit-red {
		background-color: #8b543b;
		border-radius: 6px;
		font-family: $font_josefin;
		font-size: 15px;
	}
}

.page-container {
	.return-link-wrapper {
		display: none;
	}
}

.quote {
	color: $c_main;
	font-size: 18px;
	padding: 200px 0 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;

	&::after {
		font-family: $font_playfair;
		content: "“";
		font-size: 595px;
		font-weight: 700;
		left: 32%;
		line-height: 1;
		opacity: .1;
		position: absolute;
		top: -35px;
		transform: translateX(-50%);
		z-index: -1;
		color: #8B543B;
	}

	&::before {
		color: #8B543B;
		content: "„";
		font-family: $font_playfair;
		font-size: 595px;
		font-weight: 700;
		left: 66%;
		line-height: 1;
		opacity: .1;
		position: absolute;
		top: -390px;
		transform: translateX(-50%);
		z-index: -1;
	}
}

.quote-text {
	color: #8B543B;
	font-family: $font_playfair;
	font-size: 33px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 45px;
	margin: 0 auto;
	padding: 18px 0 34px;
	text-align: center;
	width: 60%;
}

.site-footer {
	input {
		border-radius: 6px;
	}

	&__newsletter {
		.input-group {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 auto 110px;
			width: 40%;
		}
	}

	.input-group {
		&__btn {
			.newsletter__submit {
				background: rgb(39, 44, 62);
				border-radius: 6px;
				font-family: "Josefin Sans",Helvetica,Arial,sans-serif;
				margin-left: 6px;
			}
		}
	}
}

.site_nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;

	&__item {
		margin: 0 48px;

		&.active {
			.header_menu_list {
				&__link {
					&::after {
						width: 100%;
					}
				}
			}
		}

		@media #{$tablet} {
			margin: 10px 48px;
		}
	}

	&__link {
		color: #fff;
		display: block;
		position: relative;
		text-decoration: none;

		&::after {
			background-color: #fff;
			bottom: -4px;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			transition: $transition;
			width: 0;
		}

		&:focus,
		&:hover {
			color: #fff;

			&::after {
				width: 100%;
			}
		}
	}

	@media #{$tablet} {
		&__item {
			margin: 20px 48px;

			&:first-child {
				&::before {
					background-color: #8a8989;
					content: "";
					display: block;
					height: 1px;
					left: 17%;
					position: absolute;
					top: 36px;
					transition: $transition;
					width: 70%;
				}
			}
		}

		&__link {
			display: block;

			&::after {
				background-color: #8a8989;
				content: "";
				display: block;
				height: 1px;
				left: 17%;
				margin-top: 16px;
				position: absolute;
				transition: $transition;
				width: 70%;
			}
		}
	}
}

.social_link {
	display: block;
	transition: $transition;
	width: 15px;

	&:hover {
		opacity: .7;
	}

	img {
		width: 100%;
	}
}

.social_links {
	display: flex;

	&__item {
		margin: 0 0 0 38px;

		&:first-child {
			margin: 0;
		}
	}
}

.template-article {
	.main-content {
		padding-top: 0px;
	}
}

.thourth_item {
	width: 33.3333%;
}

.text_block {
	background: #fff;
}

.under_article_social {
	padding: 70px 0 0;
}

.wrap {
	margin: 0 auto;
	max-width: 926px;
	padding: 0 30px;
	width: 100%;
}

.wrap2 {
	margin: 0 auto;
	max-width: 1020px;
	padding: 0 30px;
	width: 100%;
}

.wrap3 {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 30px;
	width: 100%;
}

.wrap4 {
	margin: 0 auto;
	max-width: 866px;
	padding: 0 30px;
	width: 100%;
}

.wrap5 {
	margin: 0 auto;
	max-width: 906px;
	padding: 0 30px;
	width: 100%;
}


