


// home_advantages [START]
.home_advantages {
	&__item {}
}

.home_advantages_list {}

.home_advantages_wrap {}
// home_advantages [END]



// home_info [START]
.home_info {
	background-color: $c_main;
	color: #fff;
	font-size: 19px;
	line-height: 1;

	p {
		color: #fff;
	}
}

.home_info_list {
	display: flex;
	justify-content: space-between;

	&__item {
		align-items: center;
		display: flex;
		min-height: 25px;
		padding: 30px 10px;
		position: relative;

		&:last-child {
			padding-right: 0;
		}

		&::before {
			background: url(i_leaf.svg) 0 0 no-repeat scroll transparent;
			background-size: contain;
			content: "";
			height: 25px;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 25px;
		}
	}
}
// home_info [END]



// home_text [START]
.home_text {
	color: $c_text;
	padding: 116px 0 0;

	+ .home_text {
		padding: 54px 0 0;

		.home_text_content {
			background-image: url(i_home_2.svg);
		}

		+ .home_text {
			.home_text_content {
				background-image: url(i_home_3.svg);
			}
		}
	}

	h2 {
		font-family: $font_playfair;
		font-size: 33px;
		letter-spacing: .001em;
		margin: 0 0 .5em;
		text-transform: none;
	}
}

.home_text_content {
	background: url(i_home_1.svg) 3px 2px no-repeat scroll transparent;
	padding: 0 0 0 127px;
	position: relative;
}

.home_text_desc {
	font-family: $font_josefin;
	font-size: 22px;
	letter-spacing: -.028em;
	line-height: 1.1;
}
// home_text [END]



.social_link {
	display: block;
	transition: $transition;
	width: 15px;

	&:hover {
		opacity: .7;
	}

	img {
		width: 100%;
	}
}

.social_links {
	display: flex;

	&__item {
		margin: 0 0 0 38px;

		&:first-child {
			margin: 0;
		}
	}
}



.wrap {
	margin: 0 auto;
	max-width: 926px;
	padding: 0 30px;
	width: 100%;
}

.wrap2 {
	margin: 0 auto;
	max-width: 1020px;
	padding: 0 30px;
	width: 100%;
}


