


h2 {
	font-size: 18px;
}



.site_nav {
	display: flex;
	margin: 0;
	

	&__item {
		margin: 0 48px;

		&.active {
			.header_menu_list {
				&__link {
					&::after {
						width: 100%;
					}
				}
			}
		}
	}

	&__link {
		color: #fff;
		display: block;
		position: relative;
		text-decoration: none;

		&::after {
			background-color: #fff;
			bottom: -4px;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			transition: $transition;
			width: 0;
		}

		&:focus,
		&:hover {
			color: #fff;

			&::after {
				width: 100%;
			}
		}
	}
}

.social_link {
	display: block;
	transition: $transition;
	width: 15px;

	&:hover {
		opacity: .7;
	}

	img {
		width: 100%;
	}
}

.social_links {
	display: flex;

	&__item {
		margin: 0 0 0 38px;

		&:first-child {
			margin: 0;
		}
	}
}



.wrap {
	margin: 0 auto;
	max-width: 926px;
	padding: 0 30px;
	width: 100%;
}

.wrap2 {
	margin: 0 auto;
	max-width: 1020px;
	padding: 0 30px;
	width: 100%;
}

.wrap3 {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 30px;
	width: 100%;
}


