


body {
	overflow-x: hidden;
}

footer {
	.input-group {
		margin: 0 auto;
		width: 64%;

		input {
			border-radius: 6px;
		}
	}

	@media #{$tablet} {
		.site_nav {
			flex-direction: column;
		}

		.input-group input {
			border-radius: 6px;
			flex-basis: auto;
		}

		.input-group {
			flex-direction: column;
			width: 100%;
		}
	}
}

h1 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.1;
	margin: 0 0 42px;
	text-align: center;

	@media #{$tablet} {
		font-size: 25px;
	}
}

h2 {
	font-size: 18px;
}

html {
	overflow-x: hidden;
}



.blog {
	background: $c_blog_bg;
	display: flex;

	a {
		background: #273734;
		display: block;
		font-family: $font_josefin;
		font-weight: 100;
		padding: 15px 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	h3 {
		color: #000;
		font-family: $font_josefin;
		font-size: 21px;
		text-align: center;
		text-transform: unset;
	}

	p {
		color: #000;
		font-family: $font_josefin;
		font-weight: 100;
		text-align: center;
		text-transform: initial;
	}

	.date {
		color: #000;
		text-align: center;
		font-family: $font_josefin;
		text-transform: uppercase;
		font-weight: 100;
	}
}

.blog_title {
	background-color: #E0D8D3;
	color: #000;
	font-family: $font_josefin;
}

.breadcrumbs {
	display: block;
	margin: 0 auto;
	max-width: 1100px;
	text-align: center;
	width: 100%;
}

.breadcrumbs_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__item {
		&::after {
			content: "/";
			display: inline-block;
			margin: 0 .5em;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}
}

.btn,
.btn:visited {
	cursor: pointer;
	display: inline-block;
	transition: $transition;
}

.btn_close,
.btn_close:visited {
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 19px;
	font-weight: 100;
	line-height: 1.1;
	transition: $transition;

	span {
		background-color: $c_main;
		display: inline-block;
		height: 37px;
		margin: 0 8px 0 0;
		position: relative;
		vertical-align: middle;
		width: 37px;

		&::after,
		&::before {
			background-color: #fff;
			content: "";
			height: 1px;
			left: 11px;
			position: absolute;
			top: 17px;
			width: 15px;
		}

		&::after {
			transform: rotate(45deg);
		}

		&::before {
			transform: rotate(-45deg);
		}
	}
}

.copiright {
	font-size: 18px;
	font-weight: 100;
	margin: 0 auto;
	max-width: 570px;
}

.email_p {
	background: url(i_email.svg) 9px 8px no-repeat scroll transparent;
	display: inline;
	font-size: 18px;
	padding: 10px 40px;
}

.faq {
	font-family: $font_josefin;
	padding: 0 0 116px;

	h3 {
		font-family: $font_josefin;
		margin: 2em 0 0;
	}

	&__desc {
		display: none;
		padding: 0 0 0 100px;

		&.active {
			display: block;
		}

		&:last-child {
			border-bottom: 1px solid #000;
		}

		@media #{$mobile} {
			padding: 0;
		}
	}

	&__title {
		border-top: 1px solid #000;
		color: #000;
		cursor: pointer;
		display: block;
		font-family: $font_josefin;
		font-weight: 400;
		margin: 0;
		min-height: 70px;
		padding: 27px 0 0 100px;
		position: relative;
		text-transform: uppercase;

		&::before {
			align-items: center;
			background-color: rgba($c_main, .5);
			color: #000;
			content: "+";
			display: flex;
			font-size: 60px;
			font-weight: 100;
			height: 70px;
			justify-content: center;
			left: 0;
			position: absolute;
			top: 0;
			width: 70px;
		}

		&.active {
			font-weight: 700;

			&::before {
				background-color: $c_main;
				color: #fff;
				content: "-";
			}
		}
	}

	.btn_close,
	.btn_close:visited {
		margin: 30px 0 45px;
	}
}

.footer {
	p {
		color:#fff;
	}

	.email {
		margin: 20px 0 40px;
	}

	.newsletter__submit {
		background: #E09A8E;
		border-radius: 6px;
		font-family: $font_josefin;
		font-size: 15px;
	}

	.site-footer {
		&__item {
			margin-bottom: 10px;
		}

		&__newsletter {
			width: 100%;
		}
	}
}

.footer_desc {
	p {
		width: 80%;
		font-size: 18px;
		font-weight: 100;
		margin: 0 auto;
	}
}

.footer_title {
	p {
		font-size: 18px;
		font-weight: 600;
		margin-top: 50px;
	}
}

.input-group {
	border-radius: 6px;
}

.middle_items_wrap {
	display: flex;
	width: 33.3333%;
}

.mobile_content {
	display: none;

	p {
		color:#fff;
	}

	.header_social {
		display: block;
	}

	@media #{$tablet} {
		display: block;
	}
}



.site-footer {
	input {
		border-radius: 6px;
	}

	&__newsletter {
		.input-group {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 auto 110px;
			width: 40%;
		}
	}

	.input-group {
		&__btn {
			.newsletter__submit {
				background: rgb(39, 44, 62);
				border-radius: 6px;
				font-family: "Josefin Sans",Helvetica,Arial,sans-serif;
				margin-left: 6px;
			}
		}
	}
}

.site_nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;


	&__item {
		margin: 0 48px;

		&.active {
			.header_menu_list {
				&__link {
					&::after {
						width: 100%;
					}
				}
			}
		}

		@media #{$tablet} {
			margin: 10px 48px;
		}
	}

	&__link {
		color: #fff;
		display: block;
		position: relative;
		text-decoration: none;

		&::after {
			background-color: #fff;
			bottom: -4px;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			transition: $transition;
			width: 0;
		}

		&:focus,
		&:hover {
			color: #fff;

			&::after {
				width: 100%;
			}
		}
	}
}

.social_link {
	display: block;
	transition: $transition;
	width: 15px;

	&:hover {
		opacity: .7;
	}

	img {
		width: 100%;
	}
}

.social_links {
	display: flex;

	&__item {
		margin: 0 0 0 38px;

		&:first-child {
			margin: 0;
		}
	}
}

.text_block {
	background: #fff;
}



.wrap {
	margin: 0 auto;
	max-width: 926px;
	padding: 0 30px;
	width: 100%;
}

.wrap2 {
	margin: 0 auto;
	max-width: 1020px;
	padding: 0 30px;
	width: 100%;
}

.wrap3 {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 30px;
	width: 100%;
}

.wrap4 {
	margin: 0 auto;
	max-width: 866px;
	padding: 0 30px;
	width: 100%;
}

.wrap5 {
	margin: 0 auto;
	max-width: 906px;
	padding: 0 30px;
	width: 100%;
}



// TODO move to scss
.thourth_item {
	width: 33.3333%;
}

.first_item {
	width: 33.3333%;
}


