


.footer {
	background-color: $c_text;
	color: rgb(23, 19, 235);
	padding: 50px 0;
	text-align: center;
}

.footer_desc {

}

.footer_menu {
	font-size: 17px;
	margin: 0 0 41px;
	text-transform: uppercase;

	.site_nav {
		justify-content: center;
	}
}

.footer_social {
	display: flex;
	justify-content: center;

	&__item {
		padding: 10px 30px;
	}

	&__link {
		text-decoration: none;
		transition: $transition;

		&:hover {
			opacity: .7;
		}
	}
}

.footer_title {}



