


.header {
	background-color: $c_main;
	color: #fff;
}

.header_logo {}

.header_menu {
	display: flex;
	font-size: 18px;
	font-weight: 100;
	line-height: 1.1;
	text-transform: uppercase;
}

.header_menu_list {
	display: flex;
	margin: 0;

	&__item {
		margin: 0 44px;
	}

	&__link {
		color: #fff;
		padding: 1em;
		position: relative;
		text-decoration: none;
	}
}

.header_wrap {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1020px;
	padding: 30px;
	width: 100%;
}


