


.header {
	background-color: $c_main;
	color: #fff;
}

.header_logo {
	margin: -3px 0 0 4px;
	max-width: 124px;
	width: 100%;

	img {
		display: block;
		width: 100%;
	}
}

.header_menu {
	display: flex;
	font-size: 18px;
	font-weight: 100;
	line-height: 1.1;
	text-transform: uppercase;
}

.header_menu_list {
	display: flex;
	margin: 0;

	&__item {
		margin: 0 48px;

		&.active {
			.header_menu_list {
				&__link {
					&::after {
						width: calc(100% - 40px);
					}
				}
			}
		}
	}

	&__link {
		color: #fff;
		display: block;
		position: relative;
		text-decoration: none;

		&::after {
			background-color: #fff;
			bottom: 0;
			content: "";
			height: 1px;
			left: 20px;
			position: absolute;
			transition: $transition;
			width: 0;
		}

		&:focus,
		&:hover {
			color: #fff;

			&::after {
				width: calc(100% - 40px);
			}
		}
	}
}

.header_wrap {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1020px;
	padding: 30px;
	width: 100%;
}


