


.header {
	background-color: $c_main;
	color: #fff;
}

.header_logo {
	margin: -3px 0 0 4px;
	max-width: 124px;
	width: 100%;

	img {
		display: block;
		width: 100%;
	}
}

.header_menu {
	display: flex;
	font-size: 18px;
	font-weight: 100;
	line-height: 1.1;
	text-transform: uppercase;
}

.header_wrap {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 1020px;
	padding: 30px 30px 19px;
	width: 100%;
}


