
.hero_slider {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;

	.owl-carousel {
		height: 100%;
	}

	.owl-item {
		height: 100%;
	}

	.owl-stage {
		height: 100%;
	}

	.owl-stage-outer {
		height: 100%;
	}

	&__item {
		background-position: center;
		background-size: cover;
		height: 100%;
		width: 100%;
	}
}
