
.hero_slider {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;

	.owl-carousel {
		height: 100%;
	}

	.owl-dot {
		border-radius: 50%;
		border: 2px solid #fff;
		height: 12px;
		width: 12px;

		&.active {
			background-color: #fff;
		}
	}

	.owl-dots {
		bottom: 10px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		z-index: 3;
	}

	.owl-item {
		height: 100%;
	}

	.owl-stage {
		height: 100%;
	}

	.owl-stage-outer {
		height: 100%;
	}

	&__item {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		position: relative;
		width: 100%;
		z-index: 1;
	}
}

.hero_slider_dots {
	bottom: 80px;
	cursor: pointer;
	display: flex;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 5;

	&__item {
		display: block;
		height: 30px;
		position: relative;
		width: 30px;

		&::after {
			border-radius: 50%;
			border: 1px solid #fff;
			content: "";
			height: 10px;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%,-50%);
			width: 10px;
		}

		&.active {
			&::after {
				background-color: #fff;
			}
		}
	}
}
