


// home_advantages [START]
.home_advantages {
	background-color: $c_main;
	color: #fff;
	font-size: 22px;
	font-weight: 100;
	margin: 100px 0 0;
	padding: 135px 0 115px;

	h2 {
		color: $c_link;
		font-family: $font_josefin;
		font-size: 19px;
		font-weight: 400;
		letter-spacing: .01em;
		line-height: 1;
		margin: 0;
		text-transform: uppercase;
	}

	h3 {
		font-size: 26px;
		font-weight: 400;
		line-height: 1;
		margin: 0 0 4px;
		text-transform: none;
	}

	p {
		color: #fff;
		letter-spacing: .02em;
		line-height: 1.1;
	}
}

.home_advantages_content {
	max-width: 480px;
	padding: 0 0 0 105px;
	width: 100%;
}

.home_advantages_desc {
	margin: 0 0 38px;

	&:last-child {
		margin: 0;
	}
}

.home_advantages_img {
	width: 50%;

	img {
		width: 100%;
	}
}

.home_advantages_list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}
// home_advantages [END]



// home_blog_posts [START]
.home_blog {
	background-color: $c_blog_bg;
	font-family: $font_josefin;

	h2 {
		font-family: $font_josefin;
		font-weight: 400;
		margin: 0 0 40px;
		text-align: center;
	}

	&__author {}

	&__date {
		font-size: 15px;
		font-weight: 200;
		margin: 0 0 1em;
		position: relative;
		width: 100%;
		z-index: 3;
	}

	&__desc {
		color: $c_blog_desc;
		padding: 0 24px;
		position: relative;
		width: 100%;
		z-index: 3;
	}

	&__img {}

	&__link {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		position: relative;
		width: 100%;

		&::before {
			background-color: #fff;
			content: "";
			display: none;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}
	}

	&__meta {}

	&__readmore {
		background-color: $c_main;
		color: #fff;
		padding: 14px;
		position: relative;
		text-transform: uppercase;
		width: 100%;
		z-index: 3;
	}

	&__tags {}

	&__title {
		margin: 0 0 1em;
		position: relative;
		text-transform: uppercase;
		width: 100%;
		z-index: 3;
	}
}

.home_blog_list {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	text-align: center;

	&__item {
		display: block;
		position: relative;
		min-height: 260px;

		&:nth-child(1) {
			font-size: 33px;
			grid-column: 1;
			grid-row-end: 3;
			grid-row-start: 1;

			.home_blog {
				&__date,
				&__desc,
				&__img,
				&__readmore {
					display: none;
				}

				&__title {
					color: #fff;
				}
			}
		}

		&:nth-child(2) {
			grid-column: 2;
			grid-row-start: 1;
			grid-row-end: 1;

			.home_blog {
				&__link {
					background-color: #fff;
					background-size: 50% 100%;
					background-position: right center;
					padding: 0 50% 0 0;
				}

				&__title {
					color: $c_main;
					font-size: 16px;
				}
			}
		}

		&:nth-child(3) {
			grid-column: 2;
			grid-row-start: 2;
			grid-row-end: 2;

			.home_blog {
				&__link {
					background-color: #fff;
					background-size: 50% 100%;
					background-position: left center;
					padding: 0 0 0 50%;
				}

				&__title {
					color: $c_main;
					font-size: 16px;
				}
			}
		}

		&:nth-child(4) {
			font-size: 33px;
			grid-column: 3;
			grid-row-start: 1;
			grid-row-end: 3;

			.home_blog {
				&__date,
				&__desc,
				&__img,
				&__readmore {
					display: none;
				}

				&__title {
					color: #fff;
				}
			}
		}
	}
}

.home_blog_wrap {
	margin: 0 auto;
	max-width: 1232px;
	padding: 50px 30px 70px;
	width: 100%;
}
// home_blog_posts [END]



// home_info [START]
.home_info {
	background-color: $c_main;
	border-top: 1px solid #fff;
	color: #fff;
	font-size: 19px;
	font-weight: 100;
	line-height: 1;

	strong {
		font-weight: 400;
	}

	p {
		color: #fff;
	}
}

.home_info_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		align-items: center;
		display: flex;
		min-height: 25px;
		padding: 30px 35px;
		position: relative;

		img {
			width: 100%;
		}

		&:last-child {
			padding-right: 0;
		}

		&::before {
			background: url(i_leaf.svg) 0 0 no-repeat scroll transparent;
			background-size: contain;
			content: "";
			height: 25px;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 25px;
		}
	}
}
// home_info [END]



// home_text [START]
.home_text {
	color: $c_text;
	padding: 116px 0 0;

	+ .home_text {
		padding: 54px 0 0;

		.home_text_content {
			background-image: url(i_home_2.svg);
		}

		+ .home_text {
			.home_text_content {
				background-image: url(i_home_3.svg);
			}
		}
	}

	h2 {
		font-family: $font_playfair;
		font-size: 33px;
		letter-spacing: .001em;
		margin: 0 0 .5em;
		text-transform: none;
	}
}

.home_text_content {
	background: url(i_home_1.svg) 3px 2px no-repeat scroll transparent;
	padding: 0 0 0 127px;
	position: relative;
}

.home_text_desc {
	font-family: $font_josefin;
	font-size: 22px;
	letter-spacing: -.028em;
	line-height: 1.1;
}
// home_text [END]


