
// home_advantages [START]
.home_advantages {
	background-color: $c_main;
	color: #fff;
	font-size: 22px;
	font-weight: 100;
	margin: 100px 0 0;
	padding: 135px 0 115px;

	img {
		width: 100%;
	}

	h2 {
		color: $c_link;
		font-family: $font_josefin;
		font-size: 19px;
		font-weight: 400;
		letter-spacing: 0.01em;
		line-height: 1;
		margin: 0;
		text-transform: uppercase;
	}

	h3 {
		font-size: 26px;
		font-weight: 400;
		line-height: 1;
		margin: 0 0 4px;
		text-transform: none;
	}

	p {
		color: #fff;
		letter-spacing: 0.02em;
		line-height: 1.1;
	}

	@media #{$tablet} {
		padding: 135px 0 51px;
	}
}

.home_advantages_content {
	max-width: 480px;
	padding: 0 0 0 105px;
	width: 100%;

	@media #{$tablet} {
		margin-top: 50px;
		max-width: 100%;
		padding: 0;
		text-align: center;
		width: 100%;
	}
}

.home_advantages_desc {
	margin: 0 0 38px;

	&:last-child {
		margin: 0;
	}
}

.home_advantages_img {
	width: 50%;

	@media #{$tablet} {
		display: block;
		margin: 0 auto;
		padding-right: 62px;
		width: 100%;

		img {
			width: 100%;
		}
	}
}

.home_advantages_list {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.home_advantages_slider {
	&__item {}
}
// home_advantages [END]



// home_blog [START]
.home_blog {
	background-color: #e0d8d3;
	font-family: $font_josefin;
	line-height: 1.1;

	h2 {
		font-family: $font_josefin;
		font-weight: 400;
		margin: 0 0 40px;
		text-align: center;
	}

	&__date {
		font-size: 15px;
		font-weight: 200;
		margin: 0 0 1em;
		padding: 20px 0 0;
		position: relative;
		width: 100%;
		z-index: 3;
	}

	&__desc {
		color: #2a2a2d;
		font-weight: 200;
		padding: 0 20px;
		position: relative;
		width: 100%;
		z-index: 3;
	}

	&__link {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		position: relative;
		width: 100%;

		&::before {
			background-color: #fff;
			content: "";
			display: none;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}
	}

	&__readmore {
		background-color: $c_main;
		color: #fff;
		padding: 14px;
		position: relative;
		text-transform: uppercase;
		width: 100%;
		z-index: 3;
	}

	&__tags {
		display: none;
	}

	&__title {
		margin: 0 0 1em;
		padding: 0 20px;
		position: relative;
		text-transform: uppercase;
		width: 100%;
		z-index: 3;
	}
}

.home_blog_bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.home_blog_content {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 3;
}

.home_blog_list {
	display: grid;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	text-align: center;

	&__item {
		display: block;
		position: relative;
		min-height: 260px;
		transition: $transition;

		&:hover {
			opacity: .5;
		}

		&:nth-child(1) {
			align-items: flex-end;
			font-size: 33px;
			grid-column: 1;
			grid-row-end: 3;
			grid-row-start: 1;

			.home_blog {
				&__date,
				&__desc,
				&__img,
				&__readmore {
					display: none;
				}

				&__title {
					color: #fff;
				}
			}

			.home_blog_content {
				align-items: flex-end;

				&::after {
					background: linear-gradient(to top, #000, $c_main, transparent);
					bottom: 0;
					content: "";
					height: 50%;
					position: absolute;
					width: 100%;
					z-index: 2;
				}
			}
		}

		&:nth-child(2) {
			grid-column: 2;
			grid-row-start: 1;
			grid-row-end: 1;

			.home_blog {
				&__link {
					padding: 0 50% 0 0;
				}

				&__title {
					color: $c_main;
					font-size: 16px;
				}
			}

			.home_blog_bg {
				left: 50%;
				width: 50%;
			}

			.home_blog_content {
				background-color: #fff;
				flex-direction: column;
				justify-content: space-between;
			}
		}

		&:nth-child(3) {
			grid-column: 2;
			grid-row-start: 2;
			grid-row-end: 2;

			.home_blog {
				&__link {
					padding: 0 0 0 50%;
				}

				&__title {
					color: $c_main;
					font-size: 16px;
				}
			}

			.home_blog_bg {
				width: 50%;
			}

			.home_blog_content {
				background-color: #fff;
				flex-direction: column;
				justify-content: space-between;
			}
		}

		&:nth-child(4) {
			align-items: flex-end;
			font-size: 33px;
			grid-row-end: 3;
			grid-row-start: 1;

			.home_blog {
				&__date,
				&__desc,
				&__img,
				&__readmore {
					display: none;
				}

				&__title {
					color: #fff;
				}
			}

			.home_blog_content {
				align-items: flex-end;

				&::after {
					background: linear-gradient(to top, #000, $c_main, transparent);
					bottom: 0;
					content: "";
					height: 50%;
					position: absolute;
					width: 100%;
					z-index: 2;
				}
			}
		}
	}

	@media #{$tablet} {
		grid-template-columns: repeat(1, minmax(0, 1fr));

		&__item {
			&:nth-child(1),
			&:nth-child(4) {
				grid-column: 1;
				grid-row-end: auto;
				grid-row-start: auto;
			}

			&:nth-child(2),
			&:nth-child(3) {
				grid-column: auto;
				grid-row-end: auto;
				grid-row-start: auto;
			}
		}
	}
}

.home_blog_wrap {
	margin: 0 auto;
	max-width: 1232px;
	padding: 50px 30px 70px;
	width: 100%;

	@media #{$tablet} {
		border-top: 0 solid #fff;

		&::before {
			background-color: #fff;
			content: "";
			height: 1px;
			left: 10%;
			position: absolute;
			transition: $transition;
			width: 80%;
			display: block;
		}
	}
}
// home_blog [END]

.home_info {
	background-color: $c_main;
	border-top: 1px solid #fff;

	color: #fff;
	font-size: 19px;
	font-weight: 100;
	line-height: 1;

	p {
		color: #fff;
	}

	strong {
		font-weight: 400;
	}

	@media #{$tablet} {
		border-top: 0 solid #fff;

		&::before {
			background-color: #fff;
			content: "";
			height: 1px;
			left: 10%;
			position: absolute;
			transition: $transition;
			width: 80%;
			display: block;
		}

		.home_info {
			border-top: none;
		}
	}
}

.home_info_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		align-items: center;
		display: flex;
		min-height: 25px;
		padding: 30px 35px;
		position: relative;

		&::before {
			background: url(i_leaf.svg) 0 0 no-repeat;
			background-size: contain;
			content: "";
			height: 25px;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 25px;
		}

		&:last-child {
			padding-right: 0;
		}

		img {
			width: 100%;
		}
	}

	&:last-child {
		padding-right: 0;
	}

	img {
		width: 100%;
	}

	@media #{$tablet} {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 40px;
		padding-top: 40px;

		&__item {
			padding: 18px 35px;
		}
	}
}

.home_offer {
	overflow: hidden;
	position: relative;

	&__desc {
		font-size: 22px;
		font-weight: 200;
		line-height: 1.1;
		margin: 0 auto;
		max-width: 575px;
		padding: 0 0 64px;
		text-align: center;

		strong {
			font-weight: 600;
		}
	}

	&__desc_mg {
		font-size: 22px;
		font-weight: 200;
		max-width: 575px;
		padding: 0 0 40px;
	}

	&__subtitle {
		font-family: $font_playfair;
		font-size: 33px;
		line-height: 1.1;
		margin: 0 auto;
		max-width: 620px;
		padding: 60px 0 35px;
		text-align: center;
	}

	&__title {
		color: $c_main;
		font-size: 18px;
		padding: 200px 0 0;
		position: relative;
		text-align: center;
		text-transform: uppercase;

		&::after {
			content: "40%";
			font-family: $font_playfair;
			font-size: 595px;
			font-weight: 700;
			left: 50%;
			line-height: 1;
			opacity: 0.1;
			position: absolute;
			top: -130px;
			transform: translateX(-50%);
			z-index: -1;
		}

		@media #{$tablet} {
			padding: 100px 0 0;

			&::after {
				content: "40%";
				font-size: 225px;
				font-weight: 700;
				left: 53%;
				line-height: 1;
				opacity: 0.1;
				position: absolute;
				top: -32px;
				transform: translateX(-50%);
				z-index: 1;
			}
		}
	}
}

.home-offer-wrap {
	.input-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto 110px;
		width: 40%;
	}
}

.home_offer_wrap {
	.input-group {
		margin: 0 auto 110px;
		width: 40%;

		input[type="email"] {
			background-color: #f0f0f0;
			border-radius: 6px;
			font-family: $font_josefin;
		}

		.newsletter__submit {
			font-family: $font_josefin;
			font-size: 15px;
			border-radius: 6px;
			background: #272c3e;
		}

		@media #{$tablet} {
			flex-direction: column;
			width: 100%;
			padding: 0 15px;
			margin: 0 auto 50px auto;

			input[type="email"] {
				flex-basis: auto;
			}
		}
	}
}

.home_offer_wrap_mg {
	background-color: #e0d8d3;
	padding: 50px 30px;

	button[type=submit] {
		background-color: $c_link;
		border-radius: 6px;
	}

	input[type=email] {
		border-radius: 6px;
	}

	.home_offer {
		&__subtitle {
			color: $c_main;
			text-align: left;
			font-size: 23px;
		}
	}
}

.home-offer-wrap {
	.input-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto 110px;
		width: 40%;
	}
}

.home_offer_wrap {
	.input-group {
		margin: 0 auto 110px;
		width: 40%;

		input[type="email"] {
			background-color: #f0f0f0;
			border-radius: 6px;
			font-family: $font_josefin;
		}

		.newsletter__submit {
			font-family: $font_josefin;
			font-size: 15px;
			border-radius: 6px;
			background: #272c3e;
		}

		@media #{$tablet} {
			flex-direction: column;
			width: 100%;
			padding: 0 15px;
			margin: 0 auto 50px auto;

			input[type="email"] {
				flex-basis: auto;
			}
		}
	}
}

.home_offer_wrap_mg {
	background-color: #e0d8d3;
	padding: 50px 30px;

	button[type=submit] {
		background-color: $c_link;
		border-radius: 6px;
	}

	input[type=email] {
		border-radius: 6px;
	}

	.home_offer {
		&__subtitle {
			color: $c_main;
			text-align: left;
			font-size: 23px;
		}
	}
}

.home_text {
	color: #39415c;
	padding: 116px 0 0;

	h2 {
		font-family: $font_playfair;
		font-size: 33px;
		letter-spacing: 0.001em;
		margin: 0 0 0.5em;
		text-transform: none;

		@media #{$tablet} {
			text-align: center;
		}
	}

	+ .home_text {
		padding: 54px 0 0;

		.home_text_content {
			background-image: url(i_home_2.svg);
		}

		+ .home_text {
			.home_text_content {
				background-image: url(i_home_3.svg);
			}
		}
	}
}

.home_text_content {
	background: url(i_home_1.svg) 3px 2px no-repeat;
	padding: 0 0 0 127px;
	position: relative;

	@media #{$tablet} {
		background-position: 50% 0;
		padding: 100px 0 0;
	}
}

.home_text_desc {
	font-family: $font_josefin;
	font-size: 22px;
	font-weight: 100;
	letter-spacing: -0.028em;
	line-height: 1.1;

	@media #{$tablet} {
		text-align: center;
	}
}

@media only screen and (max-width: 730px) {
	.home_offer_wrap_mg {
		.home_offer__subtitle {
			color: $c_main;
			font-size: 31px;
			padding: 20px 0 40px 0;
			text-align: left;
		}

		input[type=email] {
			width:100%;
		}

		.input-group__btn {
			width:100%;
		}
	}
}
