


.popup {
	align-items: center;
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;

	&.active {
		display: flex;
	}

	&__bg {
		background: linear-gradient(to bottom, $c_main, #000);
		height: 100%;
		left: 0;
		opacity: .5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}

	&__content {
		background-color: #fff;
		position: relative;
		z-index: 3;
	}

	.home_offer_wrap {
		.input-group {
			display: block;
			margin: 0 auto 0 auto;
			width: 100%;
		}

		.input-group .newsletter__submit {
			background: $c_link;
		}

		.input-group input[type=email] {
			background-color: #f0f0f0;
			border-radius: 6px;
			display: block;
			font-family: $font_josefin;
			width: 100%;
		}
	}
}



