


$c_blog_bg:         #e0d8d3;
$c_blog_desc:       #2a2a2d;
$c_link:            #e09a8e;
$c_main:            #273734;
$c_text:            #39415c;



$transition:        all .3s ease-in-out;



// @medias
$desktop:           'only screen and (max-width: 1279px)';
$mobile:            'only screen and (max-width: 767px)';
$mobile_s:          'only screen and (max-width: 400px)';
$tablet:            'only screen and (max-width: 1023px)';



// fonts
$font_main:             'Playfair Display',     Helvetica, Arial, sans-serif;
$font_playfair:         'Playfair Display',     Helvetica, Arial, sans-serif;
$font_josefin:          'Josefin Sans',         Helvetica, Arial, sans-serif;



// proxima_black
//@font-face {
//	font-family: 'proxima_black';
//	src: url('fonts/proxima_black.eot');
//	src: url('fonts/proxima_black.eot?#iefix') format('embedded-opentype'),
//	url('fonts/proxima_black.woff2') format('woff2'),
//	url('fonts/proxima_black.woff') format('woff'),
//	url('fonts/proxima_black.ttf') format('truetype');
//}
